@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #272622;
}

body {
  background: var(--background);
  color: var(--foreground);
}

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary-muted: #F0F5F4;
  --color-on-primary-muted: #497C77;
  --color-text-accent: #0D1F42;
  --color-text-secondary: #767676;
  --color-accent: #C2E5E1;
  --color-accent-green: #34C759;
  --color-secondary: #8A8F99;
  --color-secondary-muted: #F7F9FA;
  --color-divider: #F0F0F0;
  --color-success: #55D5B6;
}

@layer utilities {
  /* Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }

  .layout-container {
    @apply max-w-7xl xl:mx-auto w-full px-4 md:px-5;
  }

  .scrollable-layout-container {
    @apply w-full pl-[calc(16px+max(0px,100vw-1280px)/2)] md:pl-[calc(20px+max(0px,100vw-1280px)/2)] overflow-x-auto scroll-smooth; /* 2xl:px-5 2xl:max-w-7xl 2xl:mx-auto  */
  }

}
