@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #272622;
}

body {
  background: var(--background);
  color: var(--foreground);
}

button {
  @apply cursor-pointer;
}

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary-muted: #F0F5F4;
  --color-on-primary-muted: #497C77;
  --color-text-accent: #0D1F42;
  --color-text-secondary: #767676;
  --color-text-secondary-alt: #C3C3C3;
  --color-accent: #C2E5E1;
  --color-accent-light: #CCFFF3;
  --color-accent-green: #34C759;
  --color-secondary: #8A8F99;
  --color-secondary-muted: #F7F9FA;
  --color-disabled: #B3B3B3;
  --color-divider: #F0F0F0;
  --color-divider-alt: #EBEDF0;
  --color-success: #55D5B6;
  --color-success-foreground: #FFFFFF;
  --color-danger: #f56a5b;
  --color-placeholder: #757575;
}

@layer utilities {
  /* Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }

  .layout-container {
    @apply max-w-7xl xl:mx-auto w-full px-4 md:px-5;
  }

  .layout-container-sm {
    @apply max-w-4xl md:mx-auto w-full px-2 md:px-5;
  }

  .scrollable-layout-container {
    @apply w-full pl-[calc(16px+max(0px,100vw-1280px)/2)] md:pl-[calc(20px+max(0px,100vw-1280px)/2)] overflow-x-auto scroll-smooth; /* 2xl:px-5 2xl:max-w-7xl 2xl:mx-auto  */
  }

  .loader {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-background);
    z-index: 50;
    opacity: 0;
    pointer-events: none;
    transition: opacity .3s ease-in-out;
  }
  
  .loader.visible {
    transition: opacity .07s ease-in-out;
    opacity: 1!important;
  }
  
  .loader.visible .logo-animation {
    animation: loaderColorChange 1.5s ease-in-out infinite alternate;
  }
  
  .raw-content {
    @apply text-foreground;
  }
  
  .raw-content h1 {
    @apply text-4xl my-4 mt-6 font-bold;
  }
  
  .raw-content h2 {
    @apply text-3xl my-3 mt-5 font-bold;
  }

  .raw-content h3 {
    @apply text-2xl my-2.5 mt-4.5 font-semibold;
  }

  .raw-content h4 {
    @apply text-xl my-2 mt-3.5 font-semibold;
  }

  .raw-content h5 {
    @apply text-lg my-1.5 mt-2 font-medium;
  }

  .raw-content h6 {
    @apply text-base my-1 mt-2 font-medium;
  }

  .raw-content ul {
    @apply list-disc list-inside my-1;
  }

  .raw-content p {
    @apply my-1;
  }

  .raw-content a {
    @apply text-success;
  }

  .raw-content strong {
    @apply font-bold;
  }

  .raw-content figcaption {
    @apply hidden;
  }

  .raw-content blockquote {
    @apply px-2.5 my-2 border-s-4 border-accent italic leading-relaxed;
  }

}

/* Определяем анимацию изменения цвета */
@keyframes loaderColorChange {
  0% {
    color: var(--color-foreground);
  }
  100% {
    color: var(--color-success);
  }
}
